<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conversor Celcius - Fahrenheit </title>
    <link rel="stylesheet" href="{{ url_for('static', filename ='style.css')}}">
</head>
<body>
    <div class="box">
        <h1>Conversor<br>Celcius - Fahrenheit</h1>
        <form method="post" action="/">
            <label for="temperaturaC">Temperatura abaixo</label>
            <input type="text" name="temperaturaC" id="temperaturaC" placeholder="Insira a Temperatura em Celcius" required>
            <button type="submit">Converter</button>
        </form>
        <h4>A temperatura em Fahrenheit é: {{ temperaturaF }}</h4>
    </div>
</body>
</html>